  <%= form_with model: @painting,  local: true do |form| %>

  <% if @painting.errors.any? %>
    <div id="error_explanation">
      <h2>
        <%= pluralize(@painting.errors.count, "error") %> prohibited
        this painting from being saved:
      </h2>
      <ul>
        <% @painting.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  
  <p>
    <%= form.label :title %><br>
    <%= form.text_area :title %>
  </p>


  <p>
    <%= form.label :era %><br>
    <%= form.text_field :era %>
  </p>
 

  <p>
    <%= form.label :Museum %><br>
    <%= form.text_area :place %>
  </p>

  <p>
    <%= form.submit %>
  </p>
<% end %>
